name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      # Updates the major version tag on new releases.
      # e.g., if a tag v2.3.4 is pushed, it will update the v2 tag to point to the same commit.
      - name: Update major version tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          MAJOR=${VERSION%%.*}
          git tag -f $MAJOR
          git push -f origin $MAJOR

      - name: Create release
        uses: softprops/action-gh-release@v2.4.2
        with:
          generate_release_notes: true